.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
}

.App-logo {
  pointer-events: none;
  width: auto;
  height: 100px;
}

.textLink {
  padding-left: 20px;
}

.textLink:active {
  color: lightblue;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: rgb(40, 44, 52);
  width: 100vw;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  flex-flow: row;
  display: flex;
  align-items: center;
}

.Home {
  overflow-y: hidden;
  padding-top: 120px;
  line-height: 1.6;
  height: 85vh;
  background-color: rgb(40, 44, 52);
  color: lightgrey;
}

.Home h1 {
  width: 70vw;
}

.About {
  overflow-y: scroll;
  padding-top: 15vh;
  background-color: rgb(243, 243, 243);
  color: #282c34;
}

.about-header {
  margin: 0 10vw 0 10vw;
  padding: 0 5vw 0 5vw;
}

.about-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 10vw 5vh 10vw;
  padding: 5vh 3vw 5vh 3vw;
  background-color: rgb(40, 44, 52);
  color: rgb(243, 243, 243);
  float: left;
  border-radius: 5px 10px;
  border: 3px solid rgb(40, 44, 52);
}

.about-block:nth-child(even) {
  background-color: rgb(243, 243, 243);
  color: rgb(40, 44, 52);
}

.about-block p {
  padding: 0 5vw 0 5vw;
  font-size: calc(8px + 2vmin);
}

.about-block table {
  padding: 0 5vw 0 8vw;
  font-size: calc(8px + 2vmin);
}

.about-block table tr {
  display: flex;
  justify-content: flex-start;
}

.about-block table th {
  text-align: left;
  align-items: center;
  min-width: 250px;
  padding: 0 50px 30px 0;
}

.about-block table p {
  padding: 0 10px 10px 10px;
  margin: 0 0 0 0;
  font-size: calc(8px + 2vmin);
}

.Portfolio {
  padding-top: 15vh;
  display: flex;
}

.Portfolio img {
  width: 25vw;
  height: auto;
}

.Portfolio .project {
  margin: 20px 5vw 0 5vw;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
