body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;

  pointer-events: none;
  width: 10vw;
  height: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgrey;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  flex-flow: row;
  display: flex;
  align-items: center;
}
nav a {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
