/* CSSTransitions with React-Router   */
.fade-appear,
.fade-enter {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  position: absolute;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms linear;
}

/* Custom styling over Bootsrap*/

.navbar .textLink {
  padding: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.container-fluid {
  display: flex;
  flex-flow: column;
  margin: calc(60px + 1rem) 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.media {
  padding: 1rem 0;
  align-items: center;
}

.media-body {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.read-more {
  cursor: pointer;
}

.footer {
  flex-flow: row;
  width: 100%;
  margin: auto;
}

.navbar {
  background-color: rgb(32, 32, 32);
  color: white;
}

.navbar-nav {
  font-size: 1.5rem;
}

.Home {
  padding-top: 10vh;
}

.Home img {
  border-radius: 50%;
  max-width: 100%;
}

.Home .media,
.testimonial {
  border-top: 1px solid lightgray;
}

.introduction {
  margin: 5vh auto;
}

.testimonial {
  margin: 5vh auto;
}

.testimonial-header {
  padding: 5vh 0;
  align-self: flex-start;
  width: 33%;
}

.About > .row:nth-child(even) .media {
  background-color: rgb(32, 32, 32);
}

.About > .row:nth-child(even) .media h3 {
  color: white;
}

.About > .row:nth-child(even) .media p {
  color: lightgray;
}

.Portfolio img {
  max-width: 100%;
}

.Portfolio div > a > img {
  border: 1px solid black;
}

.About div > img {
  width: 15vw;
}

.intro-image {
  width: 15vw;
}

.Testimonials {
  width: 100%;
}

.App-logo:hover {
  animation: app-logo-spin 0.5s ease-in-out;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Small screen styles, width is set to iPhoneX width*/
@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 0.5rem 0;
  }

  .headline {
    min-height: 270px;
  }

  .dropdown > a {
    color: rgba(250, 250, 250) !important;
    right: 0;
  }

  .dropdown {
    position: absolute;
    margin: auto 0;
    right: 5vw;
    top: 25%;
  }

  .dropdown-menu {
    padding: 0.5rem 0.5rem 0.5rem 0;
    right: 0;
    left: initial !important;
  }

  .testimonial {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  .testimonial-header {
    order: 2;
    padding: 0 1.5rem;
    min-width: 100%;
  }
  .media-body {
    padding: 0 auto;
  }
  .introduction {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .intro-image {
    order: 2;
    width: 25vw;
  }
  .introduction {
    margin-bottom: 0;
  }
  .about-block,
  .footer {
    width: 100%;
    padding: 0;
  }

  .about-block > img {
    display: none;
  }

  .project-block {
    flex-flow: column;
  }

  .Home {
    overflow: hidden;
    width: 100%;
  }

  .media {
    width: 100%;
  }

  .x5,
  .x6 {
    white-space: normal;
  }
}

/* Large screen styles */
@media only screen and (min-width: 1025px) {
  .about-block,
  .footer {
    width: 66%;
    padding: 0 2rem;
  }

  .media {
    width: 66%;
  }
  .media-image {
    width: 50%;
  }

  .media-body {
    width: 50%;
  }

  .Home {
    width: 66%;
  }

  .Testimonials {
    width: 66%;
  }
}
